h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;

}
.container-fluid{
  padding:3% 15%;
}
body{
  font-family: "Montserrat";

}
#title{
  color: #fff;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;

}
.navbar{
  padding-bottom: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.download-btn{
  margin: 10px;
  margin-left: 0;
}
.title-img{
  width: 20%;
  height: 65%;
  transform: rotate(25deg);
  position: absolute;



}
.title-img-parent{
  text-align: center;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
}
.carousel-inner{
    padding: 7% 15%;
}
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;

}
.price-row{
  padding-top: 5%;
  text-align: center;
}
.brand-img{
  width: 15%;
  padding: 0 2%;
}
em{
  padding-left: 3%;
}
#pricing{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  padding-bottom: 4%;
  text-align: center;
}
.testimonial-img{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 10%;
  border-radius: 100%
}
h2{
  font-family: 'Montserrat-lighter";
  font-size: 2.5rem;
  line-height: 1.6;
}

h3{
  font-size: 1.75rem;
  font-weight: lighter;
  font-family: Montserrat;
  padding-bottom: 3%;
}
p{
  color: grey;
  font-family: "Montserrat-lighter";
  padding: 0 15%;
}
#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;

}
.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;

}
.footer-icons{
  padding: 2% 2%;

}
.nav-word:hover{
  background-color: #ef8172;
}
#footer{
  text-align: center;
  padding: 7% 15%
}



 @media (max-width: 1028px){
  #title {
    text-align: center;
  }

  .title-img{
    padding-top: 10%;
    position: static;
    transform: rotate(0);

  }


  }
